<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>旋转木马 幻灯片开发</title>
<link rel="stylesheet" href="../../resources/custome/carousel/carousel.css"/>
<script src="../../resources/js/jquery-1.11.3.min.js"></script>
<script src="../../resources/custome/carousel/carousel.js"></script>
</head>
<body style="padding:50px;">
<div id="test1"></div><br/>
<div id="test2"></div><br/>
<div id="test3"></div>
</body>
<script type="text/javascript">
$(function(){
	Carousel.init("test1",{posterList:[
		{img:{src:"1.jpg"},a:{href:"#"}},
		{img:{src:"2.jpg"},a:{href:"#"}},
		{img:{src:"3.jpg"},a:{href:"#"}},
		{img:{src:"4.jpg"},a:{href:"#"}},
		{img:{src:"5.jpg"},a:{href:"#"}},
		{img:{src:"6.jpg"},a:{href:"#"}}
	],verticalAlign:'top',autoPlay:false,delay:3000});
})	
</script>
</html>