<!Doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewpoint" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <link rel="stylesheet" href="../../resources/css/base.css"/>
  <link rel="stylesheet" href="../../resources/custome/slider/slider.css"/>
  <script src="../../resources/js/jquery-1.11.3.min.js"></script>
  <script src="../../resources/custome/slider/slider.js"></script>
  <title>幻灯片</title>
  
 </head>
 <body>
   <div id="wrap1" style="margin-top:50px;">
   		<!-- <div class="main">
   			<div class="main-i main-i_active">
   				<div class="caption">
   					<h2>h2 Caption</h2>
   					<h3>h3 Caption</h3>
   				</div>
   				<img alt="" src="img/1.jpg">
   			</div>
   		</div>
   		<div class="ctrl">
   			<a class="ctrl-i ctrl-i_active" href="javascript:slider.change(0)"><img alt="" src="img/1.jpg" /></a>
      </div> -->
   </div>
   <div id="wrap2" style="margin-top:50px;"></div>
<script>
$(function(){
	var list=[
		 {image:"img/1.jpg",title1:"测试-1-h2",title2:"测试-1-h3"},
		 {image:"img/2.jpg",title1:"Friendly",title2:"DEVIL"},
		 {image:"img/3.jpg",title1:"测试-3-h2",title2:"测试-3-h3"},
		 {image:"img/4.jpg",title1:"测试-4-h2",title2:"测试-4-h3"},
		 {image:"img/5.jpg",title1:"测试-5-h2",title2:"测试-5-h3"},
		 {image:"img/6.jpg",title1:"测试-6-h2",title2:"测试-6-h3"},
		 {image:"img/7.jpg",title1:"测试-7-h2",title2:"测试-7-h3"}
	   ];
	Slider.init('wrap1',list);
  Slider.init('wrap2',list);
})
</script>
 </body>
</html>
